<body>
<form action="/peeps" style="border:1px solid #ccc" method="POST">
  <div class="container">
  <div style="text-align:center">

    <b><p>Please write something that you'd like to share with the network</p></b>
    <hr>
    <input type="text" placeholder="write a peep" name="text" required>
    <input type="hidden" placeholder="write a peep" name="user_handle" value="@gonza123">
    <input type="hidden" placeholder="write a peep" name="name" value="gonzalo">
    
    <button type="submit" class="peepbtn">Peep!</button>
   
  </div>
</form>

</body>