<!DOCTYPE html>
<html>
<body>

<form action="/sessions" style="border:1px solid #ccc" method="POST">
  <div class="container">
  <div style="text-align:center">

    <h1>Welcome to Chitter!</h1>
    
    <hr>

  </div>
</form>

</body>
</html>
